<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>


AddType text/javascript .js
AddType application/javascript .js
AddType application/x-javascript .js